<%= link_to user_profile_path(user), method: :get, data: { turbo: false } do %>
  <div class="card large">
    <div class="card-image">
      <figure class="image is-16by9">
        <img src="<%= user.image_url %>" alt="Image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4 no-padding"><%= user.name %></p>
          <p class="subtitle is-6"><%= user.username %></p>
          <%= link_to "Edit user", edit_user_path(user), data: { turbo: false }, class: 'title is-6' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
