<div class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
  
  <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="<%= album[:photos][0][:thumbnail_url] %>" alt="">

  <div class="flex flex-col justify-between p-4 leading-normal">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= album[:title] %></h5>
    <button class="bg-pink-500 text-white active:bg-pink-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" onclick="toggleModal('modal-<%= album[:id]%>')">
      See Photos
    </button>
  </div>

  <div id="modal-<%= album[:id] %>" class="hidden overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center" >
    <div class="relative w-auto my-6 mx-auto max-w-3xl">
      <!--content-->
      <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
        <!--header-->
        <div class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t">
          <h3 class="text-3xl font-semibold">
            <%= album[:title] %>
          </h3>
          <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" onclick="toggleModal('modal-<%= album[:id]%>')">
            <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
              ×
            </span>
          </button>
        </div>
        <!--body-->
        <div class="relative p-6 flex-auto">
          <% album[:photos].each do |photo| %>
            <img src="<%= photo[:thumbnail_url] %>">
            <p class="my-4 text-blueGray-500 text-lg leading-relaxed">
              <%= photo[:title] %>
            </p>
            <p class="my-4 text-blueGray-500 text-lg leading-relaxed">
              <%= photo[:url] %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div id="modal-<%= album[:id] %>-backdrop" class="hidden opacity-25 fixed inset-0 z-40 bg-black"  onclick="toggleModal('modal-<%= album[:id] %>')"></div>
</div>