<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img
        src="<%= user.image_url %>"
        alt="User image"
      />
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4"><%= user.name %></p>
        <p class="subtitle is-6"><%= user.username %></p>
      </div>
    </div>

    <div class="content">
      <p>
        <b>Email:</b> <%= user.email %><br>
        <b>Phone:</b> <%= user.phone %><br>
        <b>Address:</b> <%= user.full_address %>
      </p>
      <br />
    </div>
  </div>
</div>