<div class="container">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% if @user %>
    <div class="flex flex-row justify-between overflow-hidden flex-nowrap">
      <%= render partial: 'users/user_profile_card', locals: { user: @user } %>
      <div id="albums" class="flex flex-col">
        <% @user.albums.each do |album| %>
          <%= render partial: 'users/album_card', locals: { album: album } %>
        <% end %>
      </div>
    </div>

    <script type="text/javascript">
      function toggleModal(modalID){
        document.getElementById(modalID).classList.toggle("hidden");
        document.getElementById(modalID + "-backdrop").classList.toggle("hidden");
        document.getElementById(modalID).classList.toggle("flex");
        document.getElementById(modalID + "-backdrop").classList.toggle("flex");
      }
    </script>
  <% else %>
    <div class="flex justify-between items-center">
      <h1 class="font-bold text-4xl">Users</h1>
    </div>

    <%= render partial: 'users/search' %>

    <div id="users" class="flex flex-col flex-wrap overflow-hidden">
      <% @users.each do |user| %>
        <%= render partial: 'users/user_card', locals: { user: user } %>
      <% end %>
    </div>
  <% end %>
</div>
