<div class="container">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% if @user %>
    <section class="hero">
      <div class="hero-body">
        <p class="title"><%= @user.name %></p>
        <p class="subtitle">Hero subtitle</p>
      </div>
    </section>
    <div class="">
      <%= render partial: 'users/user_profile_card', locals: { user: @user } %>
      <div id="albums" class="flex flex-col">
        <% @user.albums.each do |album| %>
          <%= render partial: 'users/album_card', locals: { album: album } %>
        <% end %>
      </div>
    </div>

    <script type="text/javascript">
      function toggleModal(modalID){
        document.getElementById(modalID).classList.toggle("hidden");
        document.getElementById(modalID + "-backdrop").classList.toggle("hidden");
        document.getElementById(modalID).classList.toggle("flex");
        document.getElementById(modalID + "-backdrop").classList.toggle("flex");
      }
    </script>
  <% else %>
    <section class="hero is-primary">
      <div class="hero-body">
        <p class="title">Users</p>
        <p class="subtitle">Select a user and see what they have left behind.</p>
      </div>
    </section>

    <%= render partial: 'components/search_bar' %>

    <div id="users" class="container">
      <%= "No user found." if @users.empty? %>
      <%= render partial: 'components/cards', locals: { users: @users } %>
    </div>
  <% end %>
</div>
