<div class="container">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% if @user %>
    <div class="columns">
      <div class="column is-one-quarter">
        <%= render partial: 'users/user_card', locals: { user: @user } %>
      </div>

      <div class="column is-three-quarters">
        <div class="columns is-multiline">
          <% @user.albums.each do |album| %>
            <div class="column is-half ">
              <%= render partial: 'components/horizontal_card', locals: { album: album } %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <div id="users" class="container">
      <%= "No user found." if @users.empty? %>
      <%= render partial: 'components/cards', locals: { users: @users } %>
    </div>
  <% end %>
</div>
