<!DOCTYPE html>
<html>
  <head>
    <title>WhatRemainsOfMe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/css/bulma-carousel.min.css">
  </head>

  <body class="has-background-white-ter">
    <nav>
      <%= link_to 'WHAT REMAINS OF ME', root_path, class: 'is-size-1 is-family-monospace has-text-weight-bold has-text-centered is-size-3-mobile' %>
    </nav>

    <div class="container">
      <section class="section">
        <%= render partial: 'components/search_bar' %>
      </section>
      <main>
        <%= yield %>
      </main>
    </div>
  </body>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>What Remains of Me</strong> by <a href="#">Gökdeniz Özkan</a>.
        All rights are reserved.
      </p>
    </div>
  </footer>
</html>